<html>
   <head> 
      <title>Pie Chart</title> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script> 
         <script>
         
      function hpmpGraph() {//from   w w  w. j  a v  a 2  s . c  o  m
         var hp = document.hpmpForm.HP.value,
            mp = document.hpmpForm.MP.value,
            ctx = document.getElementById('hpmpratio').getContext('2d');
         var   data = {
            labels: ["Wert 1","Wert 2"],
            datasets:
               [{
                  data: [hp,mp],
                  backgroundColor: ["#EF0000","#0000EF"],
                  hoverBackgroundColor: ["#FF0000","#0000FF"]
               }]
         };
         var options = {};
         var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
         });
      }
    var renderButton = document.getElementById("renderButton");
            renderButton.addEventListener("click", addDataPointsAndRender);
            
      </script>
   </head> 
   <body onload="hpmpGraph()"> 
 
      <h1>Pie Chart</h1> 
      <form name="hpmpForm" method="post">
          X : 
         <input type="text" name="HP" value="100">
         <br>
          Y : 
         <input type="text" name="MP" value="100">
         <br> 
         <button type="button" onclick="hpmpGraph();">Click</button> 
         <canvas id="hpmpratio" height="50"></canvas> 
      </form>  
   </body>
</html>