<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<form>
  <label for="rows">Reihe:</label>
  <input type="number" id="rows" name="rows" min="1" value="1">
  <br>
  <label for="cols">Spalte:</label>
  <input type="number" id="cols" name="cols" min="1" value="1">
  <br>
  <button type="button" onclick="createTable()">Tabelle erstellen</button>
</form>
<br>
<table id="myTable"></table>
<script>
function createTable() {
  var table = document.getElementById("myTable");
  table.innerHTML = "";


  var rows = document.getElementById("rows").value;
  var cols = document.getElementById("cols").value;

  for (var i = 0; i < rows; i++) {
    var row = table.insertRow();
    for (var j = 0; j < cols; j++) {
      var cell = row.insertCell();
      cell.innerHTML = "<input type='text'>";
    }
  }
}
</script>
</body>
</html>